html {
    overflow-x: hidden;
}

body {
    background: rgb(27, 26, 26);
    min-height: 100vh;
    color: white;
}

.slideContainer {
    display: flex;
    flex-direction: row;

    li {
        list-style-type: none;
    
        img {
            width: 100vw;
            height: 100vh;
        }
    }
}

.titleContainer {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 45vh;
    left: 30vw;
    text-align: center;
    margin {
        left: 30vw;
        right: 30vw;
    }
}

.textName {
    width: 250px;
    font-size: 40px;
    color: white;
    margin: 0 auto;
}

.textInfo {
    position: relative;
    width: 400px;
    font-size: 25px;
    color: white;
    margin: 0 auto;
    animation: fader 5s infinite;
    animation-delay: 5s;
    transition: 4s;
}

@keyframes fader {
    0% {
        opacity: 1;
        left: 0;
    }

    30% {
        opacity: 0;
        left: -50vw;
    }

    31% {
        opacity: 0;
        left: 50vw;
    }

    65% {
        left: 0;
        opacity: 1;
    }
}

.linkSkills {
    width: 100px;
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    transition: .8s;
}

.linkSkills:hover {
    color: rgb(18, 170, 18);
}

.t1 {
    left: 145vw;
    color: white;
}

.t2 {
    left: 245vw;
    color: white;
}

.t3 {
    left: 345vw;
    color: white;
}

.t4 {
    left: 445vw;
    color: white;
}

.t5 {
    left: 545vw;
    color: white;
}

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #fff;
        }

        .val {
            float: right;
            font-style: normal;
        }
    }

    .progress-bar-wrap {
        background: rgb(53, 53, 53);
    }

    .progress-bar {
        height: 10px;
        transition: .9s;
        background: linear-gradient(to right, rgb(3, 204, 3), rgb(3, 204, 3), rgb(3, 204, 3), rgb(3, 204, 3), rgb(3, 204, 3), rgb(53, 53, 53));
    }
}


// Scss from image slider widget


h1 {
    text-align: center;
}

.slideContainer {
    width: 600%;
    height: 100vh;
    background: black;
}

.clickyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: auto;

    .slides {
        display: block;
        width: 6000px;
        height: 400px;
    }

    .slide {
        float: left;
        width: 720px;
        list-style-type: none;
        height: 400px;
    }
}