*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{


    body {
        background-color: transparent;
        color: white;
        text-align: center;
        min-height: 200vh;
        background: linear-gradient(to top left, #000000, #301b44, #4b0b83);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@keyframes blinkCursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#root {

    #home {
        width: 70vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25vw;
        

        h1 {
            font-size: 4rem;
            text-align: left;
        }

        p {
            text-align: left;
            font-size: 1.6rem;
            width: 40vw;

            .typed {
                color: #c037ff;
            }

            .typed-cursor {
                color: #c037ff;
                width: 10px;
            }

            .blink {
                animation: blinkCursor 0.7s infinite;
            }
        }

        .logos {
            text-align: left;
            font-size: 1.6rem;
            display: flex;
            gap: .7rem;

            .insta {
                color: white;
                transition: .7s;

                &:hover {
                    color: #c037ff;
                    cursor: pointer;
                }
            }

            .linkedIn {
                color: white;
                font-size: 1.5rem;
                transition: .7s;

                &:hover {
                    color: #c037ff;
                    cursor: pointer;
                }
            }
        }

        
    }

    #about {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 10%;

        .title {

            
            h2 {
                font-size: 2.5rem;
                padding-bottom: 1rem;
            }
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .left {
                width: 33%;
                padding-left: 5%;

                img {
                    width: 100%;
                }
            }

            .right {
                text-align: left;
                width: 67%;

                p {
                    font-style: italic;
                }

                .container {
                    display: flex;
                    padding: 0;

                    .left {
                        width: 50%;
                        
                        ul {
                            list-style-type: none;
                        }
                    }
                    
                    .right {
                        width: 50%;
                        
                        ul {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }

    #facts {
        width: 100%;
        margin: 0 auto;
        margin-top: 8%;
        padding-top: 2%;
        background-image: url(../background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        margin-bottom: 10%;
        position: relative;
        padding: 5rem 0;
        z-index: -5;

        .overlay-backround {
            position: absolute;
            top: 0;
            left: 0px;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(85, 2, 85);
            opacity: .8;
            z-index: -2;
        }

        .title {
            
            h2 {
                font-size: 2.5rem;
                padding-bottom: 4%;
            }
        }

        .topics {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            font-size: 2rem;

            .completed {

                .icon {
                    color: rgb(6, 182, 0);
                    border: 10px solid rgba(56, 253, 49, 0.39);
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    border-radius: 50%;
                }

                .title {
                    font-size: 1.1rem;
                }
            }

            .clients {

                .icon {
                    color: rgb(9, 145, 190);
                    border: 10px solid rgba(6, 171, 226, 0.39);
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    border-radius: 50%;
                }

                .title {
                    font-size: 1.1rem;
                }
            }

            .awards {

                .icon {
                    color: rgb(255, 217, 0);
                    border: 10px solid rgba(255, 217, 0, 0.39);
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    border-radius: 50%;
                }

                .title {
                    font-size: 1.1rem;
                }
            }

            .experience {

                .icon {
                    color: rgb(235, 133, 0);
                    border: 10px solid rgba(235, 133, 0, 0.39);
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    border-radius: 50%;
                }

                .title {
                    font-size: 1.1rem;
                }
            }
        }
    }

    #resume {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10%;

        .title {


            h2 {
                font-size: 2.5rem;
                margin-bottom: 2%;
            }
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .left {
                width: 50%;
                text-align: left;

                .resume-item {
                    padding: 0 0 20px 20px;
                    margin-top: -2px;
                    position: relative;
                    border-left: 2px solid rgb(235, 5, 235);

                    h4 {
                        color: rgb(235, 5, 235);
                    }

                    .year {
                        background: linear-gradient(to top left, #000000, #3c1b5a, #4b0b83);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        text-align: center;
                        padding: 8px 10px;
                        width: max-content;
                    }
                    

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -9px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: linear-gradient(to top left, #000000, #3c1b5a, #4b0b83);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        border: 2px solid rgb(235, 5, 235);
                    }
                }
            }

            .right {
                width: 50%;
                text-align: left;
                margin-bottom: auto;

                .resume-item {
                    padding: 0 0 20px 20px;
                    margin-top: -2px;
                    position: relative;
                    border-left: 2px solid rgb(235, 5, 235);

                    h4 {
                        color: rgb(235, 5, 235);
                    }

                    .year {
                        background: linear-gradient(to top left, #000000, #3c1b5a, #4b0b83);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        text-align: center;
                        padding: 8px 10px;
                        width: max-content;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -9px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        background: linear-gradient(to top left, #000000, #3c1b5a, #4b0b83);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        border: 2px solid rgb(235, 5, 235);
                    }
                }
            }
        }
    }

    #skills {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20%;

        .progressBars {
            display: flex;

            .left {
                width: 50%;

                .container {


                    .labels {
                        display: flex;
                        width: 95%;
                        margin: 0 auto;
                        justify-content: space-between;

                        p {
                            margin-top: .5rem;
                            margin-bottom: .25rem;
                        }
                    }

                    .bar {
                        background: linear-gradient(to top left, #0d0813, #3d1661, #6408b4);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        border-radius: .26rem;

                        .html {
                            width: 100%;
                            background-color: rgb(121, 5, 175);
                        }

                        .css {
                            width: 84%;
                            background-color: rgb(121, 5, 175);
                        }

                        .js {
                            width: 70%;
                            background-color: rgb(121, 5, 175);
                        }
                    }
                }
            }

            .right {
                width: 50%;

                .container {


                    .labels {
                        display: flex;
                        width: 95%;
                        margin: 0 auto;
                        justify-content: space-between;

                        p {
                            margin-top: .5rem;
                            margin-bottom: .25rem;
                        }
                    }

                    .bar {
                        background: linear-gradient(to top left, #0d0813, #3d1661, #6408b4);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        border-radius: .26rem;

                        .react {
                            width: 50%;
                            background-color: rgb(121, 5, 175);
                        }

                        .bootstrap {
                            width: 30%;
                            background-color: rgb(121, 5, 175);
                        }
                        
                        .photoshop {
                            width: 40%;
                            background-color: rgb(121, 5, 175);
                        }
                    }
                }
            }
        }
    }

    .sidenav {
        position: fixed ;
        top: 40vh;
        z-index: 0;
        width: 10%;

        ul {
            text-align: center;
            font-size: 1.5rem;
            color: white;
            list-style-type: none;
            line-height: 3rem;

            li {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-bottom: 1rem;
                transition: .3s;
                overflow: hidden;
                white-space: nowrap;

                a {
                    align-items: center;
                    color: white;
                    text-decoration: none;
                    padding: 18px;

                    svg {
                        vertical-align: middle;
                        text-align: right;
                        margin-right: 20%;
                        transition: .5s;
                    }
    
                    span {
                        font-size: 1rem;
                        text-align: right;
                    }
                }

                &:hover {
                    width: 125px;
                    border-radius: 40px;
                    background-color: #6b06c4;

                    a {


                        svg {
                            margin-right: 0;
                        }
                    }
                    
                }

                &.active {
                    background-color: #6b06c4;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    #root {

        
        #about {


            .row {


                .left {
                    padding-left: 0;
                }
            }
        }
    }
}